
body
{
	background-color: #4682B4;
	background-attachment:fixed;
	background-size:100%;
}

video.cmainPlayer
{
	background-color:black;
	width: 800px;
	height: 450px;
	margin: auto;
	display: block;
}
video.prepareList
{
	background-color:black;
	width: 176px;
	height: 99px;

}
.videoList
{
	text-align: center;

}

.videoList_hide
{
	display: none;

}